a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,
div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,
legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,
tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,
figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

#container {
    width: 800px;
    margin: 0 auto;
    background: lightgrey;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0px 1px 3px black;
    font-family: "Arial";
}

.playerButton {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.playerButton img {
    width: 200%;
    height: auto;
    text-align: center;
}

.playerButton .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: black;
    font-size: 50px;
    padding: 100px 200px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.headerStyle {
    width: 100%;
    font-size: 50px;
    padding-bottom: 14px;
    text-align: center;
    overflow: auto;
    font-family: "Creepster";
    color: #54C571;
}

.aboveButtonText {
    text-align: center;
    font-size: 20px;
    color: black;
}

p {
    text-align: center;
    font-size: 20px;
    color: #54C571;
}